<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Atoll Log</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>AtollLog uses your location to capture dive site coordinates and auto-load weather conditions.</string>
	<key>NSCameraUsageDescription</key>
	<string>AtollLog uses the camera to scan a buddy's QR code for quick identity transfer when signing dives.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.weckherlin.DiveLogPro</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>divelogpro</string>
				<string>divelog</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Universal Dive Data Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.streit.uddf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Garmin FIT Activity</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.garmin.fit</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.streit.uddf</string>
			<key>UTTypeDescription</key>
			<string>Universal Dive Data Format</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>uddf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.uddf+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.garmin.fit</string>
			<key>UTTypeDescription</key>
			<string>Garmin FIT Activity</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>fit</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/vnd.ant.fit</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
